*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --c_bg: #0b0b0b;
  --c_bg2: #04101a;
  --c_text: white;
  --c_accent: #F35B12;
  --c_link: #0d1739;

  --skew-angle: 20deg;

  --scroll_width: 480px;
  --scroll_items: 5;
}


@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');




/* #region <---------DEFAULT STYLES---------> */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background: linear-gradient(color-mix(in hsl, var(--c_bg), var(--c_bg2) 5%), color-mix(in hsl, var(--c_bg), var(--c_bg2) 25%));
  color: var(--c_text);
}

h1 {
  color: var(--c_accent);
  margin: 0rem 3rem;

}

h2 {
  font-size: clamp(1rem, calc(3vw), 4rem);
  margin: 0 2rem;

  line-height: 1;
  padding: 0.5rem;


  color: var(--c_accent);
  font-style: italic;
  text-shadow: 4px 4px color-mix(in hsl, var(--c_accent), #0f0000 85%);
}

p{
  font-size: clamp(1rem, 2vw, 3rem);
  line-height: 1.75;

  margin: 1rem;
}

li{
  font-size: clamp(1rem, 2vw, 3rem);
  flex: 0 0 auto;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

iframe{
  aspect-ratio: 16 / 9;
  height: 100%;
}

section{
  margin: 4rem min(2rem, 5vw);
}

hr{
  margin: 4rem min(2rem, 5vw);
  height: 0.25rem;
  background-color: var(--c_text)
}

/* #endregion */


/* #region <---------HERO SECTION---------> */

header {
  background: url("banner.jpg") no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 0rem;
  /* padding-bottom: 10rem; */
  display: inline-block;
  /* margin-bottom: 10rem; */
}


/* #region name container */
.name_container {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  float: left;
  height: auto;
  text-shadow: 10px 10px 5px #000;
  margin-right: 2vw;
}

.name_container h1 {
  font-size: 15vw;

  writing-mode: vertical-lr;
  float: left;
  line-height: 1;
  margin-left: -1vw;
  margin-right: 2vw;
}

.name_container h3 {
  color: var(--c_accent);
  float: left;
  font-size: 2vw;
  overflow-wrap: break-word;
  width: 2vw;
}

/* #endregion */


.hero_header{
  font-size: 6vw;
  padding: 2vw 0;
  margin: 0 min(9vw, 5rem);
}

.hero_text {
  font-size: max(3vw, 1rem);
  text-shadow: 2px 2px 5px #000;
  margin: 3vw; 
  padding: 0vw;
  margin-bottom: 0rem;
}

#fade {
  background: linear-gradient(rgba(52, 42, 42, 0), var(--c_bg));
  
  height: 20rem;
  width: 100%;

  z-index: 2;

  margin-top: 5rem;

  /* position: absolute;
  bottom: -15rem;
  left: 0px; */
}


/* #region fancy button */

.hero_button span {
  position: relative;
  z-index: 2;
}

.hero_button {
  position: relative;
  display: inline-block;
  font-size: max(1rem, 2.5vw);
  color: var(--c_accent);
  background-color: var(--c_text);
  border: 6px, solid, var(--c_accent);
  border-radius: 1vw;
  padding: max(1rem - 1rem, 1.5vw) max(2rem - 2rem, 2.5vw);


  transition-duration: 0.3s;
  cursor: pointer;
  /* overflow: hidden; */
  text-decoration: none;
  height: 100%;
}

.hero_button:hover {
  box-shadow: 10px 10px 10px #000;
  transform: translateY(-10px);
  background-color: var(--c_accent);
  color: var(--c_text);
  border: 6px solid var(--c_text);

}

.hero_button:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 100%;
  height: 0;
  border: 0;
  background-color: var(--c_accent);
  transition-duration: 0.3s;

}

.hero_button:hover:after {
  height: 100%;
  border-radius: 1vw;
}

.hero_button:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: calc(100% + 4rem);
  height: calc(100% + 4rem);
  border-radius: 1vw;
  border: 0.4vw solid var(--c_accent);
  opacity: 0;
  transition: 0.3s ease-out;
}

.hero_button:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
  border-color: var(--c_text);
}

/* #endregion */




/* #region links */
.links_container {
  font-size: max(0.4rem, 1vw);
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1vw 1vw;

  grid-auto-rows: 1 / 2;

  padding: 0.5vw 2vw;
}

.links_container h4{
  font-size: max(0.5em, 1.5vw);;
  font-style: bold;
  margin: 0;
}

.links_container a {
  transition-duration: 0.3s;
  text-decoration: none;
  color: #6f7fb5;
}

.icon{
  width: max(0.4rem, 1vw);
  aspect-ratio: 1/1;
  display: inline-block;
  background-color: #6f7fb569;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}


.itch{
  background-image: url(https://static.itch.io/images/itchio-textless-white.svg);
}

.crazy_games{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Ftpd%2Flogos%2F5be15f04582ff30001ff6796%2F0x0.png&f=1&nofb=1&ipt=16ac5960000db66fd57e0a84f3ce2966c015a839ed157c5d9ef7655a60df0702);
}


.links_container a:hover {
  color: var(--c_text);
  transform: translateY(-1px);
  text-shadow: 10px 10px 10px #000;
  text-decoration: underline;
}

.action_container{
  display: inline-flex;
  justify-content: space-between;
  gap: 10vw;
  margin: 0rem;
}

/* #endregion */

/* #endregion */


/* #region header text box */
.header_box {
  display: inline-block;
  background: linear-gradient(to right, #000000ae, #00000034);

  transform: skew(calc(-1 * var(--skew-angle)));
  width: auto;
  height: auto;
  padding: 4px 4px;

  margin: 12px;
  margin-left: 24px;
}

.unskew{
  transform: skew(var(--skew-angle));
}

.header_box h2 {
  transform: skew(var(--skew-angle));
}

.header_box h1 {
  transform: skew(var(--skew-angle));
}

/* #endregion */


/* #region <---------information container---------> */
.info_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  padding: 1rem;
  background: linear-gradient(color-mix(in hsl, var(--c_bg), var(--c_bg2) 50%), color-mix(in hsl, var(--c_bg), var(--c_bg2) 100%));
}

.text_container {
  flex: 3 0 10rem;
  height: 100%;
}

.info_container img, .info_container iframe{
  flex: 2 0 auto;
  height: 100%;
  border: none;
  aspect-ratio: 16/9;
}




/* #endregion*/


.scroll_container {
  margin: 2rem auto 0;
  width: 90%;
  max-width: 1536px;
  height: 270px;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: calc(var(--scroll_width) * -1);
  }
}

@keyframes scrollRight {
  to {
    right: calc(var(--scroll_width) * -1);
  }
}

.itemLeft,
.itemRight {
  width: 90%;
  aspect-ratio: 16 / 9;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


.itemLeft {
  left: max(calc(var(--scroll_width) * var(--scroll_items)), 100%);
  animation-name: scrollLeft;
}


.itemRight {
  right: max(calc(var(--scroll_width) * var(--scroll_items)), calc(100% + var(--scroll_width)));
  animation-name: scrollRight;
}

.item1 {
  animation-delay: calc(30s / var(--scroll_items) * (var(--scroll_items) - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / var(--scroll_items) * (var(--scroll_items) - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / var(--scroll_items) * (var(--scroll_items) - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / var(--scroll_items) * (var(--scroll_items) - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / var(--scroll_items) * (var(--scroll_items) - 5) * -1);
}


.list_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 1.5;
  margin-left: 2rem;
}

.list_container ul {
  list-style-type: disc;

  flex: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem 0px;
  height: 100%;
}

.accessibility{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(color-mix(in hsl, var(--c_bg), var(--c_bg2) 50%), color-mix(in hsl, var(--c_bg), var(--c_bg2) 100%));
  text-shadow: 0px 0px black;
}

.centered_list{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 1.5;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem;
}

.centered_list ul {
  margin-left: 2rem;
  list-style-type: disc;

  align-items: center;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem 0px;
  height: 100%;
}

.accessibility h4{
  font-size: clamp(2rem, 3vw, 4rem);
}


.accessibility ul{
  line-height: 2;
}

footer {
  background: linear-gradient(color-mix(in hsl, var(--c_bg), var(--c_bg2) 50%), color-mix(in hsl, var(--c_bg), var(--c_bg2) 100%));
}

.footer_text{
  display: inline-block;
  font-size: 1rem;
}



@media (max-width: 800px){
  .info_container {
    flex-direction: column-reverse;
    align-items: center;
    
  }

  .info_container.reverse{
    flex-direction: column;
  }

  .info_container img {
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: max(6vw, 3rem);
    /* padding: 0px 4rem; */
  }

  li, p{
    font-size: 1.5rem;
  }

}

@media (max-width: 600px){

  h2 {
    font-size: max(7vw, 1.5rem);
    margin: 0px;
  }

  .header_box{
    margin: 0.5rem 0rem;
  }
  #hero_span{
    margin-left: 2vw;
  }

  header .header_box{
    margin: 0px;
    padding: 0px;
  }

  .action_container{
    margin: 0rem 0vw;
    gap: 0vw 2vw;
  }

  .links_container {
    gap: 1vw 1vw;
    padding: 0 2vw;
  }


  .hero_button, .hero_button:hover,.hero_button:before {
    border-width: 2px;
  }
}

@media (max-width: 530px) {
  li, p{
    font-size: 1rem;
    margin: 0;
  }  

  .accessibility h4{
    font-size: 1.5rem;
  }
}

@media (max-width: 448px) {
    .action_container{
    padding: 0rem;
    width: 100%;

    padding-left: 20svw;
  }
  
}

@media (max-width: 430px) {
    .list_container{
      flex-direction: column;
      gap: 0.75rem;
    }

    li{
      font-size: 1.5rem;
    }

    .accessibility h4{
      font-size: 2rem;
    }
}


@media (max-width: 430px) {
    .centered_list{
    flex-direction: column;
    gap: 0.75rem;
  }
}




.slow_left.hidden{
  transform: translateX(-100%);
  transition: all 3s;
  transition-delay: var(--delay);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.slow_left.show{
  transform: translateX(0);
}


.slow_right.hidden{
  transform: translateX(100%);
  transition: all 3s;
  transition-delay: var(--delay);
}

.slow_right.show{
  transform: translateX(0);
}

.show.header_box{
  transform: skew(calc(-1 * var(--skew-angle)));
}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transition-delay: var(--delay);
}

.show {
  opacity: 1;
  filter: blur(0);
}


.visible{
  transition: none 0s;
}

@media (prefers-reduced-motion){
  .hidden{
    transition: none;
  }
}
