*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --c_bg: #0b0b0b;
  --c_bg2: #04101a;
  --c_text: white;
  --c_accent: #F35B12;
  --c_link: #0d1739;

  --skew-angle: 30deg;
}


@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');




/* #region <---------DEFAULT STYLES---------> */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  background: linear-gradient(color-mix(in hsl, var(--c_bg), var(--c_bg2) 5%), color-mix(in hsl, var(--c_bg), var(--c_bg2) 25%));
  color: white;
}

h1 {
  color: var(--c_accent);
  margin: 0rem 3rem;
}

h2 {
  font-size: clamp(1rem, calc(3vw), 4rem);
  margin: 0;

  line-height: 1;
  padding: 0.5rem;

  color: var(--c_accent);
  font-style: italic;
  text-shadow: 4px 4px color-mix(in hsl, var(--c_accent), #0f0000 85%);
}

p{
  font-size: clamp(1rem, 2vw, 3rem);
  line-height: 1.75;

  margin: 1rem;
}

li{
  font-size: clamp(1rem, 2vw, 3rem);
  flex: 0 0 auto;
}


/* #endregion */


/* #region <---------HERO SECTION---------> */

header {
  background: url("banner.jpg") no-repeat;
  background-size: cover;
  height: auto;
  padding-top: 1rem;
  /* padding-bottom: 10rem; */
  display: inline-block;
  /* margin-bottom: 10rem; */
}


/* #region name container */
.name_container {
  display: flex;
  flex-direction: column;
  float: left;
  height: auto;
  text-shadow: 10px 10px 5px #000;
}

.name_container h1 {
  font-size: 15em;

  writing-mode: vertical-lr;
  float: left;
  margin: 0px;
}

.name_container h3 {
  color: var(--c_accent);
  float: left;
  font-size: 2rem;
  overflow-wrap: break-word;
  width: 2rem;
  margin-right: 2rem;
}

/* #endregion */


#hero_header {
  font-size: 3rem;
  padding: 48px 0px;
}


.hero_text {
  font-size: 3rem;
  text-shadow: 2px 2px 5px #000;
  margin-bottom: 2rem;
}


#fade {
  background: linear-gradient(rgba(52, 42, 42, 0), var(--c_bg));
  
  height: 20rem;
  width: 100%;

  z-index: 2;

  margin-top: 5rem;

  /* position: absolute;
  bottom: -15rem;
  left: 0px; */
}


/* #region fancy button */

button span {
  position: relative;
  z-index: 2;
}

button {
  position: relative;
  font-size: 2rem;
  color: var(--c_accent);
  background-color: white;
  border: 4px, solid, var(--c_accent);
  border-radius: 0.5rem;
  padding: 1rem 2rem;


  transition-duration: 0.3s;
  cursor: pointer;
  /* overflow: hidden; */
}

button:hover {
  box-shadow: 10px 10px 10px #000;
  transform: translateY(-5px);
  background-color: var(--c_accent);
  color: white;
  border: 4px solid white;

}

button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 100%;
  height: 0;
  border: 0;
  background-color: var(--c_accent);
  transition-duration: 0.3s;

}

button:hover:after {
  height: 100%;
}

button:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: calc(100% + 4rem);
  height: calc(100% + 4rem);
  border-radius: 0.5rem;
  border: 5px solid var(--c_accent);
  opacity: 0;
  transition: 0.3s ease-out;
}

button:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
  border-color: white;
}

/* #endregion */


/* #region links */
.links_container {
  font-size: 1rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem 0.5rem;

  grid-auto-rows: 1 / 2;

}

a {
  margin: 0px 15px;
  transition-duration: 0.3s;
  text-decoration: none;
}

a:hover {
  color: white;
  transform: translateY(-5px);
  text-shadow: 10px 10px 10px #000;
  text-decoration: underline;
}

/* #endregion */

/* #endregion */


/* #region header text box */
.header_box {
  display: inline-block;
  background: linear-gradient(to right, #000000ae, #00000034);

  transform: skew(calc(-1 * var(--skew-angle)));
  width: auto;
  height: auto;
  padding: 4px 4px;

  margin: 12px;
  margin-left: 24px;
  margin-bottom: 0px;
}

.header_box h2 {
  transform: skew(var(--skew-angle));
}

.header_box h1 {
  transform: skew(var(--skew-angle));
}

/* #endregion */


/* #region <---------information container---------> */
.info_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;

  padding: 1rem;
  background: linear-gradient(color-mix(in hsl, var(--c_bg), var(--c_bg2) 50%), color-mix(in hsl, var(--c_bg), var(--c_bg2) 100%));

  margin: 4rem 2rem;
}

.text_container {
  flex: 2 0 15rem;
  height: 100%;
}

.info_container img {
  flex: 1 0 auto;
  height: 100%;
}

.info_container ul {
  margin-left: 3rem;
  width: calc(50% - 1em);
}




/* #endregion*/


/* #region <---------MEDIA GALLERY---------> */
#slider{
  margin: 0 auto;
  width: calc(100vw - 200px);
  max-width: 100%;
  text-align: center;
}

#slider input[type = radio]{
  display: none;
}

#slider label{
  cursor: pointer;
  text-decoration: none;
}

#slides{
  padding: 10px;
  border: 3px solid #ccc;
  
  position: relative;
  z-index: 1;
}

#overflow{
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner{
  margin-left: 0;
}


#slide2:checked ~ #slides .inner{
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner{
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner{
  margin-left: -300%;
}

#slides .inner{
  transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: auto;
}

#slides .slide{
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  /* color: black; */
  z-index: 1;
}

#slides .slide1{
  background: url(banner.jpg) no-repeat;
  filter: invert(100%);
  background-size: cover;
}
#slides .slide2{
  background-color: #F35B12;
}
#slides .slide3{
  background-color: #F35B12;
}
#slides .slide4{
  background-color: #F35B12;
} */

.slide_content{
  background: url(banner.jpg) no-repeat;
  filter: invert(100%);
  background-size: cover;
}


.slide_content img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#controls{
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

#controls label{
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}

#controls label:hover{
  opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(right_arrow.svg) no-repeat;
  filter: invert(100%);
  background-size: cover;
  width: 64px;
  height: 64px;

  float:right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
  background: url(left_arrow.svg) no-repeat;
  filter: invert(100%);
  background-size: cover;
  width: 64px;
  height: 64px;

  float:left;
  margin: 0 0 0 -50px;
  display: block;
}

#bullets{
  margin: 150px 0 0;
  text-align: center;
}

#bullets label{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: grey;
  border: white solid 4px;
  margin: 0 50px;

}


#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background-color: white;
}

/* #endregion */

/*Lets make slider variable uuu*/

.accessibility .list_container {
  justify-content: space-around;
}

.list_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 1.5;
  margin: 1rem 1rem 0px 1rem;
}

ul {
  list-style-type: disc;
  /* font-size: 1.5rem; */
  /* line-height: 2; */
  margin-left: 1em;

  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem 0px;
  height: 100%;
}

.accessibility h2 {
  font-size: 3em;
  color: var(--c_accent);
  text-align: center;
}

.accessibility {
  padding: 2rem;
  margin: 3rem 10rem;
  background: linear-gradient(color-mix(in hsl, var(--c_bg), var(--c_bg2) 50%), color-mix(in hsl, var(--c_bg), var(--c_bg2) 100%));
  text-shadow: 0px 0px black;
}

footer {
  background-color: gray;
}

@media (max-width: 700px){
  .info_container {
    flex-direction: column-reverse;
  }

  .info_container.reverse{
    flex-direction: column;
  }

  .info_container img {
    width: 100%;
    height: 100%;
  }

  h2 {
    font-size: max(6vw, 3rem);
  }

  p{
    font-size: 1.5rem;
  }

  li{
    font-size: 1.5rem;
  }

}
